{% extends "base.html" %}
{% block content %}
<ul class="breadcrumb">
    <li><a href="#">Master</a></li>                    
    <li><a href="#">Manage Employee Category</a></li>
    
</ul>
<!-- END BREADCRUMB -->

<!-- PAGE TITLE -->
<div class="page-title">                    
    <h2><span class="fa fa-arrow-circle-o-left"></span>Manage Employee Category</h2>
</div>
<!-- END PAGE TITLE -->                

<!-- PAGE CONTENT WRAPPER -->
<div class="page-content-wrap">                

    <div class="row">
        <div class="col-md-6">

            <!-- START DEFAULT DATATABLE -->
            <div class="panel panel-default">
                <div class="panel-heading">                                
                    
                    <ul class="panel-controls">
                       
                        <li><a href="#" class="panel-remove"><span class="fa fa-times"></span></a></li>
                    </ul>                                
                </div>
                <form method='post' >
                    {% csrf_token %}
                
        <div class="panel panel-default">
            
            <div class="panel-heading">
            <div class="row">
                <h3> Add Subject </h3>
            <div class="col-md-12">
                
                <input type="text" placeholder="Employee Category name"  autofocus class="form-control" name="empcatname" class="panel-title">
            </div>
           
            </div>
        </div>
    
    <div class="panel panel-default">
            
        <div class="panel-heading">
        <div class="row">
            <h3>Class <input type="checkbox" class="commonCheckbox pull-right" > </h3>
        </div>
        </div>
    </div>
    
</form>
{% for i in sub %}
{% if i.classstatus == 1 %}
<div>
<input type="checkbox" class="commonCheckbox" name="checkboxGroup" value="Checkbox 3"> {{i.classname}}
</div>
{% endif %}   

 {% endfor %}    
<div class="panel-body d-flex justify-content-between">
            <button class="btn btn-default">Clear Form</button>                                    
            <button class="btn btn-primary pull-right">Submit</button>
          
</div>

        
        
        
  


{% endblock   %}