{% extends "base.html" %}
{% block content %}


<!-- PAGE CONTENT WRAPPER --><div class="page-content-wrap">
    <div class="row">
        <!-- First Form: Top Left -->
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">                                
                    <ul class="panel-controls">
                        <li><a href="#" class="panel-remove"><span class="fa fa-times"></span></a></li>
                    </ul>                                
                </div>
                <form method='post'>
                    {% csrf_token %}
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="row">
                                <h3> Add Subject </h3>
                                <div class="col-md-6">
                                    <input type="text" placeholder="Employee Category name" autofocus class="form-control" name="subname" class="panel-title">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="row">
                                <h3>Class <input type="checkbox" id="cbox" onclick="check()" class="commonCheckbox pull-right" > </h3>
                            </div>
                        </div>
                    </div>
                    <!-- Your form content here -->
                    {% for i in sub %}
                        {% if i.classstatus == 1 %}
                            <div>
                                <input type="checkbox" class="icheck" name="checkboxGroup" value="{{i.id}}"> {{i.classname}}
                            </div>
                        {% endif %}
                    {% endfor %}    
                    <div class="panel-body d-flex justify-content-between">
                        <button class="btn btn-default">Clear Form</button>                                    
                        <button class="btn btn-primary pull-right">Submit</button>
                    </div>
                </form>
            </div>
        </div>
        
        <!-- Second Form: Top Right -->
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">List of Classes</h3>
                </div>
                <div class="panel-body">
                    <table class="table table-striped table-bordered">
                        <thead>
                            <tr><th>id</th>
                                <th>Name</th>
                                <th> Status</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for i in subjectcls %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{ i.subjectclass }}</td>
                                    <td>
                                        {% if i.subjectstatus == 1 %}
                                            Active
                                        {% else %}
                                            Inactive
                                        {% endif %}
                                    </td>
                                    <td>
                                        <!-- Add action buttons here -->
                                        <!-- Example: Edit and Delete buttons -->
                                        <button class="btn btn-info btn-sm">Edit</button>
                                        <button class="btn btn-danger btn-sm">Delete</button>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock   %}